
<% course.custom_field_values.each do |value| %>
  <% if course.course_application_custom_fields.include? value.custom_field %>
	<p><%= link_to image_tag("/images/delete.png", :border=>0), :controller => "courses", :action => "remove_custom_field", :id => course, :existing_custom_field => value.custom_field.id %> 
	<%= custom_field_tag_with_label :course, value %></p>
  <% end %>	
<% end -%>
