<h2><%=h @course_tracker.title %>: <em>New Course</em></h2>
  <%= render :partial => "mutual/tabs" %>
  <%= render :partial => "form_new" %>
  <%= link_to 'Back', courses_url(:course_tracker_id => @course_tracker.id) %>


<br />
