<% flash[:notice] %>

<h2><%=h @course_tracker.title %>: Course Application Referrals </h2> 

<%= render :partial => "mutual/tabs" %>

<%= render :partial => "course_application_referral_tables" %>

<br /><br />